.franchise_heading h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
 padding-left: 70px;

  }
  .franchise_heading h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 70%;
    width: 300px;
    border-bottom: 1px solid green;
    transform: translateX(-50%);
  }