.franchise_heading h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
 /* padding-left: 70px; */

  }
  .franchise_heading h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 200px;
    border-bottom: 1px solid green;
    transform: translateX(-50%);
  }

  .form-group label{
padding-bottom: 10px;
  }
  .pargraph p{
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
  }