.customers h1, span{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px;

}

.customers h1{
    font-weight: 600;
    color: #8BC34A;
}
.containers{
background-color: rgb(244, 244, 244);
padding-bottom: 90px;
}


.Company{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 60px;
}
.Company h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
 padding-left: 70px;

  }
  .Company h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 70%;
    width: 300px;
    border-bottom: 1.5px solid green;
    transform: translateX(-50%);
  }

  /* card  */
 
  
  .card {
    position: relative;
  }
  .card-bottom {
    position: absolute;
    top: 96%;
    left: 35%;
    width: 50%;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
  }
  .button-half-outside {
    background-color: #8BC34A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 5px 20px;
    position: absolute;
    left: -25%;
    /* top: -100% !important; */
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .card_postion{
    position: relative;
  }
  .card-body{
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 30px !important;

  }

  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .products_card{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 50px;
    }
    .card-bottom {
      position: absolute;
      top: 97%;
      left: 45%;
      width: 40%;
    }
    .Company{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .Company h3 {
    padding-left: 0px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

  }
  .Company h3::after {
  
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 200px;
    border-bottom: 1.5px solid green;
    transform: translateX(-50%);
  }
  }